image:
  registry: registry.gitlab.com
  repository: ska-telescope/src/src-mm/ska-src-rucio-ivoa-integrations/postgres-metadata
  tag: bitnami-dachs
  pullPolicy: Always

auth:
  username: metadata
  password: secret
  database: metadata
  existingSecret: null

primary:
  initdb:
    user: postgres
  pgHbaConfiguration: |-
    local   all             all                                     trust
    host    all             all             127.0.0.1/32            trust
    host    all             all             ::1/128                 trust
    # Allow all operations within docker network
    host  all  all  10.0.0.0/8  trust
    # Allow all operations within minikube
    host  all  all  172.0.0.0/8  trust
    host all all all scram-sha-256
  persistence:
    enabled: true
    storageClass: csi-cinder-sc-retain
    size: 250Gi
